# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
providers/facebook.json
.ntvs_analysis.dat
bin/Microsoft.NodejsTools.WebRole.dll
*.njsproj
obj/Debug/ChatBot.njsproj.FileListAbsolute.txt
obj/Debug/ChatBot.njsprojResolveAssemblyReference.cache
providers/hangouts.json
providers/skype.json
.ntvs_analysis.dat.tmp
plugins/bridge/bridges.json
node_modules